<center>
	<h3>We want to rent your apartment. But don't worry, because...<h3>
</center>
<br />
<div class='hero-unit'>
	<div style='center'>
   		<h3>We are</h3>
   		<h1>Awesome</h1>
   		<div style='padding:0px 700px'>	
			<h3>tenants!<h3>
		</div>			
	</div>
</div>	
<center>
	<h3>Let us introduce ourselves<h3>
</center>
<br />
<div class='row'>
	<div class='span4'>
		<center>
			<h2>Pete</h2>
		</center>
	</div>
	<div class='span4'>
		<center>
			<h2>Jess</h2>
		</center>
	</div>
	<div class='span4'>
		<center>
			<h2>Dave</h2>
		</center>
	</div>
</div>		