<center>
	<h3>We want to rent your apartment. But don't worry, because...<h3>
</center>
<br />
<div class='hero-unit'>
	<div style='center'>
   		<h3>We are</h3>
   		<center>
			<h1>Awesome</h1>
   		</center>
		<div style='padding:0px 700px'>	
			<h3>tenants!<h3>
		</div>			
	</div>
</div>	
<center>
	<h3>Let us introduce ourselves<h3>
</center>
<br />
<div class='row'>
	<div class='span4'>
		<center>
			<h2>Pete</h2>
			<div href="#" class="thumbnail">
				<img src="/assets/pa.png" alt="">
			</div>	
		</center>
		<ul>
			<i class='icon-ok'> Something</i><br />
			<i class='icon-ok'> Something</i><br />
			<i class='icon-ok'> Something</i><br />
			<i class='icon-ok'> Something</i><br />
			<i class='icon-ok'> Something</i><br />
		<ul>
	</div>
	<div class='span4'>
		<center>
			<h2>Jess</h2>
			<div href="#" class="thumbnail">
				<img src="/assets/jf.png" alt="">
			</div>
		</center>
		<ul>
			<i class='icon-ok'> Something</i><br />
			<i class='icon-ok'> Something</i><br />
			<i class='icon-ok'> Something</i><br />
			<i class='icon-ok'> Something</i><br />
			<i class='icon-ok'> Something</i><br />
		<ul>
	</div>
	<div class='span4'>
		<center>
			<h2>Dave</h2>
			<div href="#" class="thumbnail">
				<img src="/assets/dt.png" alt="">
			</div>
		</center>
		<ul>
			<i class='icon-ok'> Something</i><br />
			<i class='icon-ok'> Something</i><br />
			<i class='icon-ok'> Something</i><br />
			<i class='icon-ok'> Something</i><br />
			<i class='icon-ok'> Something</i><br />		
		<ul>
	</div>
	<div class='span12'>
		<br />
		<center>
			<h3>Your awesome apartment is...<h3>
		</center>
	<br />	
	</div>
	<div class='span4'>
		<center>
			<h1>2<h1>
			<p>Bedrooms</p>
		</center>				
	</div>	
	<div class='span4'>
		<center>
			<h1>16<h1>
			<p>Suburbs</p>
		</center>				
	</div>
	<div class='span4'>
		<center>
			<h1>3000<h1>
			<p>Max price p.m.</p>
		</center>				
	</div>
	<div class='span12'>
		<br />
		<center>
			<h3>Are you an awesome landlord?</h3>
		</center>
	</div>
	<div class='span6'>
		<br />
		<center>
			<h3>Send us a message<h3>
			<p>Form</p>			
		</center>
	</div>
	<div class='span6'>
		<br />
		<center>
			<h3>Know an awesome landlord?<h3>
			<p>Forward to</p>
		</center>
	</div>
					
</div>		
